version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run:
          name: Run tests
          command: yarn test

      - run:
          name: Upload code coverage report
          command: ./node_modules/.bin/codecov

      - run:
          name: Upload code coverage report - CoverAlls
          command: ./node_modules/.bin/coveralls < ./coverage/lcov.info
