@font-face {
  font-family: 'ic-icons';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/ic-icons.eot');
  src: url('fonts/ic-icons.eot?#iefix') format('embedded-opentype'),
       url('fonts/ic-icons.woff') format('woff'),
       url('fonts/ic-icons.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: font-url('fonts/OpenSans-Light/OpenSans-Light.eot');
  src: font-url('fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('OpenSans-Light'),
       url('fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'),
       url('fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/OpenSans/OpenSans.eot');
  src: url('fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('OpenSans'),
       url('fonts/OpenSans/OpenSans.woff') format('woff'),
       url('fonts/OpenSans/OpenSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('fonts/OpenSans-Semibold/OpenSans-Semibold.eot');
  src: url('fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('OpenSans-Semibold'),
       url('fonts/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'),
       url('fonts/OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/OpenSans-Bold/OpenSans-Bold.eot');
  src: url('fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url('fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
       url('fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype');
}

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.prism-code .token {
  color: #212121;
}

.prism-code .token.tag {
  color: #2A9715;
}

.prism-code .token.attr-name {
  color: #43B02A;
}

.prism-code .token.punctuation {
  color: #BDBDBD;
}

.prism-code .token.language-javascript {
  color: #177D05;
}
